{% load static from staticfiles %}
{% load compress %}
<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>

{% compress js %}
  <script type="text/javascript" src="{%static 'js/ajaxSetup.js' %}"></script>
{% if profile %}
  <script type="text/javascript" src="{%static 'js/profile.js' %}"></script>
{% else %}
  <script type="text/javascript" src="{%static 'js/menuBars.js' %}"></script>
  <script type="text/javascript" src="{%static 'js/itemList.js' %}"></script>
  <script type="text/javascript" src="{%static 'js/itemSet.js' %}"></script>
  <script type="text/javascript" src="{%static 'js/application.js' %}"></script>
  {% if edit %}
    <script type="text/javascript" src="{%static 'js/edit.js' %}"></script>
  {% endif %}
{% endif %}
{% endcompress %}