{% for row in item_set_data.rows %}

  <div class="item-set-row-container" data-row-id="{{row.id}}">
    <div class="item-set-row-delete" style="display: none;">X</div>
    <input type="text" class="row-name" placeholder="Row Name" value="{{row.name}}">
    <div class='row-items'>
      <ul class='item-set images'>


        {% for item in row.items %}


            <li><span data-type="item" data-purchasable="true" data-id="{{item.id}}" data-ar-id="{{ item.api_id }}" title="{{ item.data.name }}" class="sprite"
              style="background-image: url('{{ITEM_SPRITE_HEAD}}/{{item.data.image.sprite}}'); background-position: -{{item.data.image.x}}px -{{item.data.image.y}}px"
              ></span></li>


        {% endfor %}


      </ul>
    </div>
  </div>

{% endfor %}