{% extends "layout.html" %}
{% block title %}Item Sets{% endblock %}

{% block content %}
<div class="pure-g menu-bar item-set-modifiers">
  <div class="pure-u-1-5"></div>
  <div class="pure-u-1-5">
    <ul class="no-indent map-selector">
      <li {% if item_set.map == "any" %} data-top='true' {% endif %} data-pos="1" data-map="any">Any Map</li>
      <li {% if item_set.map ==  "SR" %} data-top='true' {% endif %} data-pos="2" data-map="SR">Summoner's Rift</li>
      <li {% if item_set.map ==  "TT" %} data-top='true' {% endif %} data-pos="3" data-map="TT">Twisted Treeline</li>
      <li {% if item_set.map ==  "HA" %} data-top='true' {% endif %} data-pos="4" data-map="HA" class="unviable">Howling Abyss</li>
      <li {% if item_set.map == "CS" %} data-top='true' {% endif %} data-pos="5" data-map="CS" class="unviable">Crystal Scar</li>
    </ul>
  </div>
  <div class="pure-u-1-5"></div>
  <div class="pure-u-1-5">
    <ul class="no-indent game-type-selector">
      <li {% if item_set.game_type == "any" %} data-top='true' {% endif %} data-pos="1" data-game-type="any">Any Mode</li>
      <li {% if item_set.game_type == "CLASSIC" %} data-top='true' {% endif %} data-pos="2" data-game-type="CLASSIC">Classic</li>
      <li {% if item_set.game_type == "ARAM" %} data-top='true' {% endif %} data-pos="3" data-game-type="ARAM">ARAM</li>
      <li {% if item_set.game_type == "ODIN" %} data-top='true' {% endif %} data-pos="4" data-game-type="ODIN" class="unviable">Dominion</li>
    </ul>
  </div>
</div>

<div class="pure-g menu-bar champion-select">
  <div class="pure-u-1-6"></div>
  <div class="pure-u-2-3">
    <!-- <input type="text" placeholder="Champion"> -->
    <div style="color:red;font-style:italic;">
      Due to issues with the League API, some data may be inaccurate or unavailable.
    </div>
  </div>
</div>

<div class="pure-g main-container">
  <div class="pure-u-1-24"></div>
  <div class="pure-u-1-3">
    <div class="items">
      <input type="text" id="item-search" placeholder="Item">
      {% include "league_item_sets/_image_index.html" with items=item_data %}
    </div>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-1-3">
    <div class="item-set-container" data-set-id="{{ item_set.id }}">
      <input type="text" class="item-set-name" placeholder="Set Name" value="{{ item_set.name }}">
      <div class="row-container">
        {% include "league_item_sets/_item_row_index.html" %}
      </div>
      <div class='item-set-row new-row'>+</div>
    </div>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-1-6">
    <div class="save-div">
      <button class="compile-button">Generate Link!</button><br><br>
      <!-- <button class="save-button">Save!</button> -->
    </div>
  </div>
</div>
{% endblock %}